<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>
  
  <link rel="stylesheet" href="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.css">
  
  <!-- Extra Codiqa features -->
  <link rel="stylesheet" href="{{ url_for('static', filename='media/css/mobile/codiqa.ext.css') }}">

  <!-- Custom css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='media/css/mobile/jqm-icon-pack-2.0-original.css') }}" />
  
  <!-- jQuery and jQuery Mobile -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js"></script>
  <script src="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

  <!-- Extra Codiqa features -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/codiqa.ext.js"></script>

</head>
<body>
    <!-- Home -->
    <div data-role="page" id="languages">

        <div data-theme="a" data-role="header">
            <h3>
                Poio
            </h3>
            {% include "mobile/menu.j2" %}
        </div>

        <div data-role="content">
            <ul data-role="listview" data-divider-theme="b" data-inset="false" data-filter="true">
                {% for l in languages: %}
                <li data-theme="c">
                    <a href="#writetyper" onclick="iso='{{ languages_iso[l] }}';">{{ l }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div data-role="page" id="writetyper">

        <div data-theme="a" data-role="header">
            <h3>
                Poio Writetyper
            </h3>
            {% include "mobile/menu.j2" %}
        </div>

        <div data-role="content">
            <form>
                <textarea name="prediction" id="prediction" placeholder="Type your text here..." autocorrect="off" autocapitalize="off"></textarea>
                    <div id="predictor">
                    <span class="predicted-word"><span id="predict-0"></span></span>
                    <span class="predicted-word"><span id="predict-1"></span></span>
                    <span class="predicted-word"><span id="predict-2"></span></span>
                    <span class="predicted-word"><span id="predict-3"></span></span>
                    <span class="predicted-word"><span id="predict-4"></span></span>
                    <span class="predicted-word"><span id="predict-5"></span></span>
                </div>
            </form>
            <a href="#" id="sendsms" data-role="button" data-icon="chat" data-mini="true" data-inline="true">SMS</a>
            <a href="#" id="sendmail" data-role="button" data-icon="email" data-mini="true" data-inline="true" rel="external">Mail</a>
            
            <p>Want to learn more about Poio?</p>
            <p>
                <a href="http://www.cidles.eu/summer-school-coding-for-language-communities-2014/">
                    Participate in our summer school!
                </a>
            </p>
        </div>
        
    </div>

    <div data-role="page" id="about">

        <div data-theme="a" data-role="header">
            <h3>
                About Poio
            </h3>
            {% include "mobile/menu.j2" %}
        </div>

        <div data-role="content">
            <h1>
                Poio
            </h1>
            <h2>
                Technologies for Language Diversity
            </h2>
            <p>
              Poio is a free and open source predictive text and transliteration system for
              under-resourced languages. We support text input for languages like Bavarian,
              Chechen and Sorbian on mobile phones and desktop computers.
            </p>
            <p>
                Read more about the project on readthedocs:
            </p>
            <p>
                <a href="http://poio.readthedocs.org">
                    http://poio.readthedocs.org
                </a>
            </p>
        </div>
        
    </div>

    <script language="javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var $TOKEN = '{{ token }}';
        var iso = 'None';
    </script>

    <script src="{{ url_for('static', filename='media/js/mobile/main.js') }}"></script>
    <script src="{{ url_for('static', filename='media/js/prediction.js') }}"></script>
</body>
</html>
