<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Poio - Technologies for Language Diversity</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ url_for('static', filename='media/css/normalize.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='media/css/chosen.css') }}">
        
        <style>
            {% include 'css/main.css' %}
        </style>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_{0}.ico'.format(g.color)) }}">

        <script src="{{ url_for('static', filename='media/js/libs/modernizr-2.6.2.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="backline">
        </div>

        <div class="wrapper">
            <div class="nav">
                <span class="menu_about"><a class="menu_about" href="#">About</a></span>
                <span class="menu_tools"><a class="menu_tools" href="#">Writetyper</a></span>
                <span class="menu_map"><a class="menu_map" href="#">Map</a></span>
                <span class="menu_team"><a class="menu_team" href="#">Team</a></span>
                <span class="menu_documentation"><a class="menu_documentation" href="#">Documentation</a></span>
            </div>

            <div id="social">
                <a href="http://languagediversity.tumblr.com/"><img class="social" src="{{ url_for('static', filename='media/img/social_buttons_tumblr.png') }}" /></a>
                <a href="https://github.com/cidles/poio-corpus"><img class="social" src="{{ url_for('static', filename='media/img/social_buttons_github.png') }}" /></a>
                <a href="mailto:pbouda@cidles.eu"><img src="{{ url_for('static', filename='media/img/social_buttons_mail.png') }}" /></a>
            </div>
            
            <div class="scroll">
                <a class="scroll_down" href="#"><img src="{{ url_for('static', filename='media/img/scroll_down_{0}.png'.format(g.color)) }}" /></a>
                <a class="scroll_up" href="#" style="display:none;"><img src="{{ url_for('static', filename='media/img/scroll_up_{0}.png'.format(g.color)) }}" /></a>
            </div>

            <div class="main">
                <section class="start">
                    <img class="poio-logo" src="{{ url_for('static', filename='media/img/poio_logo_{0}.png'.format(g.color)) }}" />
                    <p class="black">
                        Poio is open source technology<br/>for language diversity.
                    </p>
                    <p class="green">
                        <a class="scroll_down" href="#">Scroll down to get an overview<br/> of our tools and our team.</a>
                    </p>
                </section>
                <section class="about">
                    <a href="#" class="menu_start"><img class="poio_logo" src="{{ url_for('static', filename='media/img/poio_logo_{0}.png'.format(g.color)) }}" /></a>
                    <p id="tools" class="black centered">
                        <a class="icon_prediction" href="#">Try the text predictor<a>,
                        <a class="icon_map" href="#">explore the map</a>,<br/>
                        <a class="icon_documentation" href="#">read the documentation</a>,
                        <a class="icon_testemonial" href="http://eepurl.com/Hhmoj">subscribe to our newsletter</a>.
                    </p>
                    <p class="centered">
                        <a class="icon_prediction" href="#">
                            <img id="icon_prediction" src="{{ url_for('static', filename='media/img/icon_prediction.png') }}" style="margin-right:130px;" />
                        </a>
                        <a  class="icon_map" href="#">
                            <img id="icon_map" src="{{ url_for('static', filename='media/img/icon_map.png') }}" style="margin-right:130px;" />
                        </a>
                        <a  class="icon_documentation" href="#">
                            <img id="icon_documentation" src="{{ url_for('static', filename='media/img/icon_documentation.png') }}" style="margin-right:130px;" />
                        </a>
                        <a  class="icon_testemonial" href="#">
                            <img id="icon_testemonial" src="{{ url_for('static', filename='media/img/icon_testemonial.png') }}"/>
                        </a>
                    </p>
                </section>
                <section class="tools">
                    <a href="#" class="menu_start"><img class="poio_logo" src="{{ url_for('static', filename='media/img/poio_logo_{0}.png'.format(g.color)) }}" /></a>
                    <p class="green centered">

                        <select id="language_chooser" data-placeholder="Choose your language" class="chosen-select" style="width: 540px;">
                            <option value=""></option>
                            {% for l in languages %}
                                <option value="{{ languages_iso[l] }}">{{ l }}</option>
                            {% endfor %}
                        </select>

                    </p>
                    <p class="black centered">
                        <textarea id="prediction" placeholder="Click here and write your text..."></textarea>
                    </p>
                    <p id="predictor" class="black centered">
                        <span><img src="{{ url_for('static', filename='media/img/f1_{0}.png'.format(g.color)) }}" /><span class="predicted-word" id="predict-0"></span></span>
                        <span><img src="{{ url_for('static', filename='media/img/f2_{0}.png'.format(g.color)) }}" /><span class="predicted-word" id="predict-1"></span></span>
                        <span><img src="{{ url_for('static', filename='media/img/f3_{0}.png'.format(g.color)) }}" /><span class="predicted-word" id="predict-2"></span></span>
                        <span><img src="{{ url_for('static', filename='media/img/f4_{0}.png'.format(g.color)) }}" /><span class="predicted-word" id="predict-3"></span></span>
                        <span><img src="{{ url_for('static', filename='media/img/f5_{0}.png'.format(g.color)) }}" /><span class="predicted-word" id="predict-4"></span></span>
                        <span><img src="{{ url_for('static', filename='media/img/f6_{0}.png'.format(g.color)) }}" /><span class="predicted-word" id="predict-5"></span></span>
                    </p>
                    <!--<p class="black centered" style="font-size:1em;">
                        Try the text prediction on your mobile phone. Just visit poio.eu.
                    </p>-->
                </section>
                <section class="map">
                    <a href="#" class="menu_start"><img class="poio_logo" src="{{ url_for('static', filename='media/img/poio_logo_{0}.png'.format(g.color)) }}" /></a>
                    <div id="map" style="width:930px; height:500px;"></div>
                    <p class="black centered">
                        Drag the map to explore the world!
                    </p>
                </section>
                <section class="team">
                    <a href="#" class="menu_start"><img class="poio_logo" src="{{ url_for('static', filename='media/img/poio_logo_{0}.png'.format(g.color)) }}" /></a>
                    <p class="black centered">
                        Poio was created at CIDLeS
                    </p>
                    <p class="green centered">
                        <a href="http://www.cidles.eu/about/team/">by Vera, Peter, Rita and their team</a>
                    </p>
                    <p id="team_members">
                        <p class="team_member" style="margin-right: 30px;">
                            <img class="team_photo" src="{{ url_for('static', filename='media/img/vera_photo.png') }}" /><br />
                            <img class="team_name" src="{{ url_for('static', filename='media/img/vera_text_{0}.png'.format(g.color)) }}" /><br />
                            Vera is the president of CIDLeS and head 
                            of its Language Documentation and Language Typology group.
                            <br/>
                            <a href="http://www.cidles.eu/about/team/vera-ferreira/"><img src="{{ url_for('static', filename='media/img/plus_{0}.png'.format(g.color)) }}" /></a>
                        </p>
                        <p class="team_member" style="margin-right: 30px;">
                            <img class="team_photo" src="{{ url_for('static', filename='media/img/peter_photo.png') }}" /><br />
                            <img class="team_name" src="{{ url_for('static', filename='media/img/peter_text_{0}.png'.format(g.color)) }}" style="margin-bottom:17px;" /><br />
                            Peter is the head of the CIDLeS Media Lab. He is responsible for
                            the development of Poio and its text prediction.
                            <br/>
                            <a href="http://www.cidles.eu/about/team/peter-bouda/"><img src="{{ url_for('static', filename='media/img/plus_{0}.png'.format(g.color)) }}" /></a>
                        </p>
                        <p class="team_member">
                            <img class="team_photo" src="{{ url_for('static', filename='media/img/rita_photo.png') }}" /><br />
                            <img class="team_name" src="{{ url_for('static', filename='media/img/rita_text_{0}.png'.format(g.color)) }}" /><br />
                            Rita is a research assistant at CIDLES and the responsible
                            for its working group on Language Revitalization.
                            <br/>
                            <a href="http://www.cidles.eu/about/team/rita-pedro/"><img src="{{ url_for('static', filename='media/img/plus_{0}.png'.format(g.color)) }}" /></a>
                        </p>
                        <br style="clear:both;" />
                        <br />
                    </p>
                </section>
                <section class="documentation">
                    <a href="#" class="menu_start"><img class="poio_logo" src="{{ url_for('static', filename='media/img/poio_logo_{0}.png'.format(g.color)) }}" /></a>
                    <p class="black centered">
                        Poio is free and open source.<br/>Read more about the project on readthedocs:
                    </p>
                    <p class="green centered">
                        <a href="http://poio.readthedocs.org">
                            http://poio.readthedocs.org
                        </a>
                    </p>
                </section>
            </div><!-- [END] .main -->
        </div><!-- [END] .wrapper -->


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='media/js/libs/jquery-1.10.1.min.js') }}"><\/script>')</script>
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            var languages = JSON.parse('{{ languages_json }}');
            var mapDrawn = false;
        </script>

        <script type="text/javascript">
            var TOKEN = "{{ token }}"
        </script>

        <script src="{{ url_for('static', filename='media/js/libs/d3.v3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='media/js/libs/queue.v1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='media/js/libs/topojson.v1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='media/js/libs/kinetic-v4.5.4.min.js') }}"></script>

        <script src="{{ url_for('static', filename='media/js/plugins.js') }}"></script>
        
        <script type="text/javascript">
            {% include 'js/main.js' %}
        </script>

        <script src="{{ url_for('static', filename='media/js/prediction.js') }}"></script>
    </body>
</html>
